import type { {{pascalCase name}}Props } from './types'

export function {{pascalCase name}}({ title }: {{pascalCase name}}Props) {
  return <h1 className="text-3xl font-bold underline">{title}</h1>
}
